# if [[ -d /opt/homebrew/share/zsh ]] && [[ $(uname) == Darwin ]] ; then
#     zmodule /opt/homebrew/share/zsh --fpath site-functions
# fi
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

zmodule joke/zim-starship